beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
greenlet==2.0.2
idna==3.10
playwright==1.35.0
pyee==9.0.4
requests==2.31.0
soupsieve==2.4.1
typing_extensions==4.7.1
urllib3==1.26.18
